@if (session(); as session) {
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ session.created_at | date }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ session.created_at | date }}</ion-title>
      </ion-toolbar>
    </ion-header>
    @for (exercise of session.exercises; track $index; let exerciseIndex = $index) {
      <section>
        <ion-list-header>
          <ion-label>{{ exercise.name }}</ion-label>
        </ion-list-header>
        <ion-list>
          <ion-list>
            @for (set of exercise.sets; track $index; let setIndex = $index) {
              <ion-item-sliding>
                <ion-item>
                  <ion-label>
                    <h3>Set #{{ setIndex + 1 }}</h3>
                    <p>{{ set.reps }} Reps &#64; {{ set.weight }} {{ set.weight_unit }}</p>
                  </ion-label>
                  @switch (set.type) {
                    @case ('WARM_UP') {
                      <ion-badge>Warm-up</ion-badge>
                    }
                    @case ('DROP_SET') {
                      <ion-badge>Drop Set</ion-badge>
                    }
                  }
                  @if (set.did_fail) {
                    <ion-badge color="danger">Failure</ion-badge>
                  }
                </ion-item>

                <ion-item-options>
                  <ion-item-option (click)="duplicateSet(exerciseIndex, setIndex)">
                    <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
                  </ion-item-option>
                  <ion-item-option (click)="openEditSetModal(exerciseIndex, set, setIndex)">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                  </ion-item-option>
                  <ion-item-option (click)="deleteSet(exerciseIndex, setIndex)" color="danger">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            }
            <ion-item [button]="true" (click)="openCreateSetModal(exerciseIndex)">
              <ion-icon aria-hidden="true" name="add" slot="start"></ion-icon>
              <ion-label>Add Set</ion-label>
            </ion-item>
          </ion-list>

        </ion-list>
      </section>
    }
  </ion-content>
} @else {
  Loading...
}

