@if (performance(); as performance) {
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ performance.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ performance.name }}</ion-title>
      </ion-toolbar>
    </ion-header>
    @for (exercise of performance.exercises; track exercise.name; let exerciseIndex = $index) {
      <section>
        <ion-list-header>
          <ion-label>{{ exercise.name }}</ion-label>
        </ion-list-header>
        <ion-list>
          <ion-list>
            @for (set of exercise.sets; track set; let setIndex = $index) {
              <ion-item [button]="true" (click)="openEditSetModal(exerciseIndex, set, setIndex)">
                <ion-label>
                  <h3>Set #{{ setIndex + 1 }}</h3>
                  @if (set.reps && set.weight) {
                    <p>{{ set.reps }} Reps &#64; {{ set.weight }} {{ set.unit }}</p>
                  }
                  @if (set.reps && !set.weight) {
                    <p>{{ set.reps }} Reps</p>
                  }
                  @if (!set.reps && set.weight) {
                    <p>{{ set.weight }} {{ set.unit }}</p>
                  }
                </ion-label>
                @switch (set.kind) {
                  @case ('warm-up') {
                    <ion-badge>Warm-up</ion-badge>
                  }
                  @case ('drop-set') {
                    <ion-badge>Drop Set</ion-badge>
                  }
                  @case ('failure') {
                    <ion-badge color="danger">Failure</ion-badge>
                  }
                }
              </ion-item>
            }
            <ion-item [button]="true" (click)="openCreateSetModal(exerciseIndex)">
              <ion-icon aria-hidden="true" name="add" slot="start"></ion-icon>
              <ion-label>Add Set</ion-label>
            </ion-item>
          </ion-list>

        </ion-list>
      </section>
    }
  </ion-content>
} @else {
  Loading...
}

