<ion-item [button]="true" [id]="id">
  <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
  <ion-label>
    <h3>Set #{{ number() }}</h3>
    @if (set().reps && set().weight) {
      <p>{{set().reps}} Reps &#64; {{set().weight}} {{set().unit}}</p>
    }
    @if (set().reps && !set().weight) {
      <p>{{set().reps}} Reps</p>
    }
    @if (!set().reps && set().weight) {
      <p>{{set().weight}} {{set().unit}}</p>
    }
  </ion-label>
  @switch (set().kind) {
    @case ('warm-up') {
      <ion-badge>Warm-up</ion-badge>
    }
    @case ('drop-set') {
      <ion-badge>Drop Set</ion-badge>
    }
    @case ('failure') {
      <ion-badge color="danger">Failure</ion-badge>
    }
  }
</ion-item>
<ion-modal [trigger]="id" (willPresent)="initModal()" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Update Set #{{ number() }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-select label="Type" [(ngModel)]="set().kind">
          <ion-select-option value="warm-up">Warm Up</ion-select-option>
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="drop-set">Drop Set</ion-select-option>
          <ion-select-option value="failure">Failure</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          label="Reps"
          type="number"
          min="0"
          [(ngModel)]="set().reps"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Weight"
          type="number"
          min="0"
          [(ngModel)]="set().weight"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          label="Unit"
          [(ngModel)]="set().unit"
        >
          <ion-select-option value="lb">Pounds</ion-select-option>
          <ion-select-option value="kg">Kilos</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
