<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item>
      <ion-select label="Type" [(ngModel)]="set.kind">
        <ion-select-option value="warm-up">Warm Up</ion-select-option>
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="drop-set">Drop Set</ion-select-option>
        <ion-select-option value="failure">Failure</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Reps" type="number" min="0" [(ngModel)]="set.reps"/>
    </ion-item>
    <ion-item>
      <ion-input label="Weight" type="number" min="0" [(ngModel)]="set.weight"/>
    </ion-item>
    <ion-item>
      <ion-select label="Unit" [(ngModel)]="set.unit">
        <ion-select-option value="lb">Pounds</ion-select-option>
        <ion-select-option value="kg">Kilos</ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>
