<ion-header>
  <ion-toolbar>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exercises</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
        placeholder="E.g. Barbell Squat"
        [animated]="true"
        show-clear-button="focus"
        [(ngModel)]="query"
        [debounce]="300"
      />
    </ion-toolbar>
  </ion-header>
  @if (exercises.hasValue()) {
    <ion-list [inset]="true">
      @for (exercise of exercises.value(); track exercise.id) {
        <ion-item>
          <ion-label>{{ exercise.name }}</ion-label>
        </ion-item>
      } @empty {
        <ion-item>
          <ion-label>No exercises found.</ion-label>
        </ion-item>
      }
    </ion-list>
  } @else {
    <ion-spinner name="crescent" class="spinner-center"></ion-spinner>
  }
</ion-content>
