.day-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  .selected-day-title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--ion-color-dark);
  }
}
